
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

          <table class="table table-striped" >
            <thead class="table-primary">
              <tr >
                <th class="col-sm-1">Class</th>
                <th class="col-sm-1">Image</th>
                <th class="col-sm-1">Price</th>
                

              </tr>
            </thead>
            <tbody>
              <tr   class="table-info">
                <td>King</td>
                <td><img src="assets\images\king.jpg" style="width: 300px;height: 300px;"></td>
                <td>10000</td>
               </tr>
              <tr class="table-info">
                <td>Single</td>
                <td><img src="assets\images\single.jpg" style="width: 300px;height: 300px;"></td>
                <td>700</td>
                
              </tr>
              <tr class="table-info">
                <td>Twin</td>
                <td><img src="assets\images\twin.jpg" style="width: 300px;height: 300px;"></td>
                <td>1400</td>
                
              </tr>
              <tr class="table-info">
                <td>Double</td>
                <td><img src="assets\images\double.jpg" style="width: 300px;height: 300px;"></td>
                <td>1500</td>
                
              </tr>
          
             
              
            </tbody>
          </table>
          
          
            
          
            <form>
              <div><h1>Book Room</h1></div>
            
                  <div class="form-group row">
                    <label class ="col-sm-2 col-form-label">Room No </label>
                    <div class ="col-sm-10">
                        <input type ="text" name="roomNo"[(ngModel)]="booking.roomNo" />
                    </div>
                  </div>
                  <div class="form-group row">
                      <label class ="col-sm-2 col-form-label">No of Days </label>
                      <div class ="col-sm-10">
                          <input type ="number" name="noOfDays"  [(ngModel)]="booking.noOfDays" #noofdays/>
                       
                        </div>
                    </div>
                    <div class="form-group row">
                    <label class ="col-sm-2 col-form-label">Room Type </label>
                    <div class ="col-sm-10">
                       <!-- <input type ="text" name="roomType"  />-->
                        <select name="roomType" [(ngModel)]="booking.roomType" #amount style="width: 188px;height: 29.56px;">
                          <option value="10000">King</option>
                          <option value="700">Single</option>
                          <option value="1500">Double</option>
                          <option value="1400">Twin</option>
                          </select>

                          <button (click)="Calculate(noofdays.value,amount.value)" class="btn btn-outline-primary">Calculate</button>
                         

                    </div>
  
                  </div>
                  <div class="form-group row">
                      <label class ="col-sm-2 col-form-label">Total Amount </label>
                      <div class ="col-sm-10">
                   
                      <input type="text" value="{{result}}" [(ngModel)]="booking.totalAmount" name="totalAmount" readonly>
                         
                     
                    </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-2"><button (click)="Book()" class="btn btn-outline-primary">Book Room</button></div>
                      <div class="col-sm-2"><button type="reset" class="btn btn-outline-primary">Reset</button></div>
                    </div>
                </form>



</div>
</div></div>